.nav-wrapper, .page-footer {
    background-color: #4b2e83;
}

.btn {
    background-color: #452a78;
}

.btn:focus {
    background-color: #558097 !important;
}

.btn:hover {
    background-color: #6fa7c5 !important;
}

.progress {
    background-color: #beaae4;
}

.progress .indeterminate {
    background-color: #452a78;
}

.brand-logo {
    margin-left: 1rem;
}

body {
    background-color: #f5f5f5;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

input:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #558097 !important;
}

input:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #558097 !important;
    -webkit-box-shadow: 0 1px 0 0 #558097 !important;
    box-shadow: 0 1px 0 0 #558097 !important;
}

h1, h2, h3 {
    font-family: "encode_sans_normalbold", sans-serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

strong {
    font-weight: bolder;
}

.box {
    padding: 2rem;
    background-color: white;
}

.box h2:first-child {
    margin-top: .5rem;
}

.icon {
    display: flex;
}

.description {
    font-style: italic;
}

